/* Fonts */
@font-face {
  font-family: "Geist";
  src: url("../assets/fonts/Geist-VariableFont_wght.ttf") format("truetype");
}

/* -------------------------------------------------- */

/* Navbar Styles */
.navbar-container {
  border-bottom: 2px solid #27272a;
}

/* -------------------------------------------------- */

/* Global Styles */
body {
  margin: 0;
  background-color: #0a0a0a !important;
  color: #fafafa !important;
  font-family: "Geist", "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  letter-spacing: -0.5px;
  overflow-x: hidden;
}

/* Cards */
.card {
  background-color: #0d0d0d;
  color: #fafafa !important;
  border: 2px solid #27272a;
  border-radius: 10px;
}
.card:hover {
  background-color: #27272a;
  transition: 0.5s;
}

/* Search Bar */
.form-control {
  background-color: #0d0d0d;
  border: 2px solid #27272a;
}
.form-control::placeholder {
  color: #ffffff8c;
}
.form-control:focus {
  background-color: #0d0d0d;
  border: 2px solid #27272a;
  color: #fafafa;
  outline: none;
}
input[type="search"]::-webkit-search-cancel-button {
  filter: brightness(0) saturate(100%) invert(100%);
}

/* Text */
.justify-text {
  text-align: justify;
}
code {
  /* background-color: #27272a; */
  color: #fafafa;
  /* border: 2px solid #27272a; */
  border-radius: 5px;
  padding: 2px;
}

h6 {
  margin-bottom: 0px;
}
.content {
  color: #ffffff8c;
}

.modal-content {
  background-color: #000;
  color: #fff;
  border: 2px solid #27272a;
}

.table > :not(caption) > * > * {
  padding: 0.1rem 0.1rem;
}

pre {
  margin: 0px !important;
}
